
@font-face {
    font-family: 'Londrina Outline', cursive;  
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

body {
    margin: 0;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.tilt {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
